/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button {
  width: 128px;
  height: 40px;
  border-radius: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
}

.button a {
  display: block;
  text-decoration: none;
  color: #fff;
}

body h2 {
  font-size: 48px;
}

body h3 {
  font-size: 32px;
  line-height: 46px;
  font-weight: bold;
}

body .bt {
  background-color: #56C4C5;
}

.wrap {
  margin: 0 auto;
  max-width: 1366px;
  position: relative;
  overflow: hidden;
}

.wrap .bgimg {
  position: absolute;
  z-index: -1;
}

.wrap .r-0 {
  right: 0;
}

.wrap .l250-t600 {
  left: -250px;
  top: 600px;
}

.wrap .r100-t1740 {
  right: -100px;
  top: 1740px;
}

.wrap .l100-t1740 {
  left: 80px;
  top: 2780px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1085px;
}

.navbar .logo {
  margin: 24px 24px 24px 0px;
  width: 218px;
}

.navbar .navbt {
  margin: 24px 0 24px 24px;
  background-color: #FF5D50;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1085px;
  margin: 0 auto;
  margin-bottom: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner ul {
  margin-bottom: 20px;
}

.banner ul li p {
  font-size: 18px;
  color: #56C4C5;
}

.banner ul li h2 {
  font-size: 48px;
  line-height: 70px;
}

.banner ul li a {
  font-size: 20px;
}

.banner img {
  max-width: 532px;
  margin-bottom: 20px;
}

.platform {
  max-width: 969px;
  margin: 0 auto;
}

.platform h3 {
  text-align: center;
  margin-bottom: 48px;
}

.platform ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.platform ul li {
  margin: 20px;
}

.platform ul li img {
  display: block;
  margin: 0 auto;
}

.platform ul li p {
  font-size: 24px;
  text-align: center;
  line-height: 35px;
  margin: 24px 0;
  font-weight: bold;
}

.platform ul li a {
  display: block;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}

.actor {
  max-width: 1088px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 70px;
}

.actor h3 {
  text-align: center;
}

.actor P {
  text-align: center;
  margin: 16px 20px 48px;
  font-size: 20px;
}

.actor ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.actor ul li {
  background-color: #fff;
  padding-bottom: 20px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
}

.actor ul li img {
  display: block;
  margin: 0 auto;
}

.actor ul li p {
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  margin: 16px 0;
  color: #56C4C5;
}

.actor ul li a {
  display: block;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}

.guild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1085px;
  margin: auto;
  margin-bottom: 72px;
}

.guild p {
  font-size: 18px;
  line-height: 26px;
}

.guild .button {
  margin: 24px 0;
  line-height: 40px;
}

.guild ul {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.guild ul li {
  width: 230px;
  height: 280px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 28px;
  padding-top: 32px;
  padding-left: 32px;
}

.guild ul li img {
  border-radius: 50px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08);
  padding: 10px;
}

.guild ul li a {
  display: block;
  font-size: 16px;
}

.guild ul li P {
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: bold;
}

.guild ul li:nth-child(2n) {
  margin-left: 47px;
}

.card {
  margin: auto;
  max-width: 1088px;
}

.card h3 {
  text-align: center;
  margin-bottom: 48px;
}

.card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 104px;
}

.card ul li {
  width: 325px;
  position: relative;
  margin-bottom: 100px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.card ul li img {
  display: block;
  position: absolute;
  top: -60px;
  left: 16px;
}

.card ul li p {
  font-size: 16px;
  line-height: 35px;
  font-weight: bold;
  margin-top: 24px;
  margin-left: 32px;
}

.card ul li .opinion {
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin: 48px 32px 0;
  padding-bottom: 24px;
  border-bottom: 2px solid #DDDDDD;
}

.card ul li .star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin: 0px 32px 24px;
}

footer {
  position: relative;
  text-align: center;
}

footer img {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

footer h3 {
  padding-top: 230px;
  margin-bottom: 48px;
}

footer div P {
  margin: auto;
}

footer .ft {
  margin-top: 100px;
  padding: 16px;
  background-color: #F5F5F5;
}

@media screen and (max-width: 375px) {
  .wrap .bg {
    display: none;
  }
  .navbar .logo {
    margin: 24px 0 24px 20px;
    width: 218px;
  }
  .navbar .navbt {
    margin: 24px 20px 24px 0px;
    background-color: #FF5D50;
  }
  .banner {
    margin: 0 20px 0 20px;
  }
  .banner ul li h2 {
    font-size: 32px;
    line-height: 46px;
  }
  h3 {
    font-size: 28px;
  }
  .guild {
    text-align: center;
    margin: 0 20px 0 20px;
  }
  .guild h3 {
    margin-bottom: 16px;
  }
  .guild .button {
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .guild ul li {
    margin: 0 auto;
    margin-bottom: 24px;
    padding-top: 32px;
    padding-left: 0px;
  }
}
/*# sourceMappingURL=style.css.map */