/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button {
  width: 128px;
  height: 40px;
  border-radius: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
}

.button a {
  display: block;
  text-decoration: none;
  color: #fff;
}

body h3 {
  font-size: 32px;
  line-height: 46px;
  font-weight: bold;
}

body .bt {
  background-color: #56C4C5;
}

.wrap {
  margin: 0 auto;
  max-width: 1366px;
  position: relative;
}

.wrap .bgimg {
  position: absolute;
  z-index: -1;
}

.wrap .yw {
  right: 0;
}

.wrap .ball {
  left: -250px;
  top: 600px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1085px;
}

.navbar .logo {
  margin: 24px;
  width: 218px;
}

.navbar .navbt {
  margin: 24px;
  background-color: #FF5D50;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1085px;
  margin: 0 auto;
  margin-bottom: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner ul {
  margin-bottom: 20px;
}

.banner ul li p {
  font-size: 18px;
  color: #56C4C5;
}

.banner ul li h2 {
  font-size: 48px;
  line-height: 70px;
}

.banner ul li a {
  font-size: 20px;
}

.banner img {
  max-width: 532px;
  margin-bottom: 20px;
}

.platform {
  max-width: 969px;
  margin: 0 auto;
}

.platform h3 {
  text-align: center;
  margin-bottom: 48px;
}

.platform ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.platform ul li {
  margin: 20px;
}

.platform ul li img {
  display: block;
  margin: 0 auto;
}

.platform ul li p {
  font-size: 24px;
  text-align: center;
  line-height: 35px;
  margin: 24px 0;
  font-weight: bold;
}

.platform ul li a {
  display: block;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}

.actor {
  max-width: 1088px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.actor h3 {
  text-align: center;
}

.actor P {
  text-align: center;
  margin: 16px 20px 48px;
  font-size: 20px;
}

.actor ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.actor ul li {
  padding-bottom: 20px;
}

.actor ul li img {
  display: block;
  margin: 0 auto;
}

.actor ul li p {
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  margin: 16px 0;
  color: #56C4C5;
}

.actor ul li a {
  display: block;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}

.guild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1085px;
  margin: 0% auto;
  margin-top: 80px;
  margin-bottom: 100px;
}

.guild p {
  font-size: 18px;
  line-height: 26px;
}

.guild .button {
  margin: 24px 0;
  line-height: 40px;
}

.guild ul {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.guild ul li {
  width: 230px;
  height: 280px;
  -webkit-box-shadow: 0px 0px 5px 0px gray;
          box-shadow: 0px 0px 5px 0px gray;
  margin-bottom: 28px;
  padding-top: 32px;
  padding-left: 32px;
}

.guild ul li a {
  display: block;
  font-size: 16px;
}

.guild ul li P {
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: bold;
}

.guild ul li:nth-child(2n) {
  margin-left: 47px;
}

.card {
  margin: 0 auto;
  max-width: 1088px;
}

.card h3 {
  text-align: center;
  margin-bottom: 48px;
}

.card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card ul li {
  width: 325px;
  margin-bottom: 24px;
}

.card ul li img {
  display: block;
}

.card ul li p {
  font-size: 16px;
  line-height: 35px;
  font-weight: bold;
}

.card ul li a {
  font-size: 16px;
  line-height: 24px;
}

.card ul li .star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer {
  margin-top: 100px;
  position: relative;
  text-align: center;
}

footer img {
  top: 0;
  left: 0;
  z-index: -1;
}

footer h3 {
  margin-top: 230;
}

footer div {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer div P {
  margin: auto;
  margin-top: 48px;
}

footer .ft {
  margin: 0;
  padding: 16px;
  background-color: #F5F5F5;
}
/*# sourceMappingURL=style.css.map */