@mixin column-center{
    ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
        li{
            width: 80%;
        }
    }
}

@media screen and (max-width: 1280px) {
    .banner{
        justify-content: space-around;
    }

    .guild{
        flex-direction: column;
        
        .guildmsg{
            text-align: center;
        }
        .button{
            margin: auto;
        }

        ul{
            max-width: 100%;
            justify-content: center;
            li{
                width: 45%;
                margin: 20px;
            }
        }
    }
}

@media screen and (max-width: 980px){
    .banner{
        @include column-center;
        justify-content: center;
    }

    .actor{
        ul{
            li{
                width: 40%;
            }
        }
    }

    .guild{
        ul{
            li{
                width: 40%;
            }
        }
    }

    .vipcard{
        .candyfather{
            width: 80%;
            margin: auto;
            .both{
                width: 80%;
                .submenu{
                    display: inline-block;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .navbgimg{
        display: none;
    }

    .platform{
        @include column-center;
    }

    .actor{
        ul{
            li{
                width: 45%;
            }
        }
    }

    .card{
        @include column-center;
        .swiper { 
            .swiper-wrapper{
                .swiper-slide {
                    width: 50%;
                }
            }
        }   
    } 

    .vipcard{
        .candyfather{
            width: 100%;
            .both{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    h2{
        font-size: 32px;
    }

    h3{
        font-size: 28px;
    }
    
    .bold32{
        font-size: 28px;
    }
    
    .regular18{
        font-size: 16px;
    }
    
    .bold18{
        font-size: 16px;
    }
    
    .regular20{
        font-size: 16px;
    }
    
    .bold24{
        font-size: 18px;
    }
    
    .bold48{
        font-size: 32px;
    }
    
    .bold18-b{
        font-size: 16px;
    }
    
    .regular18-w{
        font-size: 16px;
    }

    .actor{
        @include column-center
    }

    .guild{
        @include column-center
    }

    .card{
        .swiper { 
            .swiper-wrapper{
                .swiper-slide {
                    width: 100%;
                }
            }
        }    
    }

}

@media screen and (max-width: 375px) {

    .guild{
        ul{
            li{
                max-width: 100%;
            }
        }
    }
}