
.swiper {
    width: 100%;
    height: 100%;

    .swiper-wrapper{
        padding-top: 60px;

        .swiper-slide {
            margin-bottom: 40px;
            width: 32%;

            img{
                top: -60px;
                left: 16px;
            }
            p{
                margin-top: 24px;
                margin-left: 32px;
            }
            .opinion{
                margin: 48px 32px 0;
                padding-bottom: 24px;
                border-bottom: 2px solid #DDDDDD;
            }

            .star{
                padding: 24px 32px;
            }
            &:nth-child(1){
                margin-left: 5px;
            }
        }
    }
}


