@import 'reset.scss';

.button{
    width: 128px;
    height: 40px;
    border-radius: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #fff;

    a{
        display: block;
        text-decoration: none;
        color: #fff;
    }

}

body{
    h3{
        font-size: 32px;
        line-height: 46px;
        font-weight: bold;
    }
    .bt{
        background-color: #56C4C5;
    }
}

.wrap{
    margin: 0 auto;
    max-width: 1366px;
    position: relative;
    overflow: hidden;

    .bgimg{
        position: absolute;
        z-index: -1;
    }

    .r-0{
        right: 0;
    }

    .l250-t600{
        left: -250px;
        top: 600px;
    }

    .r100-t1740{
        right: -100px;
        top:1740px;
    }

    .l100-t1740{
        left: 80px;
        top:2780px;
    }


}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 30px;
    align-items: center;
    max-width: 1085px;

    .logo{
        margin: 24px;
        width: 218px;
    }
    
    .navbt{
        margin: 24px;
        background-color: #FF5D50;
    }

}

.banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1085px;
    margin: 0 auto;
    margin-bottom: 200px;
    align-items: center;

    ul{
        margin-bottom: 20px;
        li{
            p{
                font-size: 18px;
                color: #56C4C5;
            }
            h2{
                font-size: 48px;
                line-height: 70px;
            }
            a{
                font-size: 20px;
            }
        }
    }

    img{
        max-width: 532px;
        margin-bottom: 20px;
    }
}

.platform{
    max-width: 969px;
    margin: 0 auto;

    h3{
        text-align: center;
        margin-bottom: 48px;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        li{
            margin: 20px;
            img{
                display:block;
                margin: 0 auto;
            }
            p{
                font-size: 24px;
                text-align: center;
                line-height: 35px;
                margin: 24px 0;
                font-weight: bold;
            }
            a{
                display: block;
                font-size: 16px;
                text-align: center;
                line-height: 24px;
            }
        }
    }
}

.actor{
    max-width: 1088px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;

    h3{
        text-align: center;
    }
    P{
        text-align: center;
        margin: 16px 20px 48px;
        font-size: 20px;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        li{
            background-color: #fff;
            padding-bottom: 20px;
            box-shadow: 0px 2px 10px 0px rgba(#000000,0.08);
            img{
                display:block;
                margin: 0 auto;
            }
            p{
                font-size: 16px;
                text-align: center;
                line-height: 24px;
                margin: 16px 0;
                color: #56C4C5;
            }
            a{
                display: block;
                font-size: 16px;
                text-align: center;
                line-height: 24px;
            }
        }
    }
}

.guild{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    max-width: 1085px;
    margin: 0% auto;
    margin-top: 80px;
    margin-bottom: 100px;


    p{
        font-size: 18px;
        line-height: 26px;
    }

    .button{
        margin: 24px 0;
        line-height: 40px;
    }

    ul{
        max-width: 600px;
        display: flex;

        flex-wrap: wrap;
        li{
            width: 230px;
            height: 280px;
            box-shadow: 0px 2px 10px 0px rgba(#000000,0.08);
            margin-bottom: 28px;

            padding-top: 32px;
            padding-left: 32px;

            a{
                display: block;
                font-size: 16px;
                
            }

            P{
                font-size: 18px;
                margin-top: 24px;
                margin-bottom: 16px;
                font-weight: bold;
            }
    
        }

        li:nth-child(2n){
            margin-left: 47px;
        }


    }


}

.card{
    margin:  auto;
    max-width: 1088px;

    h3{
        text-align: center;
        margin-bottom: 48px;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 104px;
        
        li{
            width: 325px;
            position: relative;
            margin-bottom: 100px;
            box-shadow: 0px 2px 10px 0px rgba(#000000,0.08);
            background-color: #fff;
            img{
                display:block;
                position: absolute;
                top: -60px;
                left: 16px;
            }
            p{
                font-size: 16px;
                line-height: 35px;
                font-weight: bold;
                margin-top: 24px;
                margin-left: 32px;
            }
            .opinion{
                display: block;
                font-size: 16px;
                line-height: 24px;
                margin: 48px 32px 0;
                padding-bottom: 24px;
                border-bottom: 2px solid #DDDDDD;
            }

            .star{
                display: flex;
                justify-content: space-between;
                margin:0;
                margin: 0px 32px 24px;
            }
        }

    }
}

footer{

    position: relative;
    text-align: center;
    
    img{

        top: 0;
        left: 0;
        z-index: -1;
    }
    h3{
        margin-top: 230;
    }

    div{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        P{
            margin: auto;
            margin-top: 48px;
        }
    }

    .ft{
        margin: 0;
        padding: 16px;
        background-color: #F5F5F5;
    }

}