.navbgimg{
    background: url( ../img/bg_yellow.png ) no-repeat;
    width: 850px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -5;
}

.ball-1{
    width: 100%;
    &::after{
        content: "";
        background: url(../img/Ellipse3.png) right;
        width: 138px;
        height: 360px;
        position: absolute;
        bottom: 10px;
        left: 0px;
        z-index: -5;
    }
}

.ball-2{
    width: 100%;
    &::before{
        content: "";
        background: url(../img/Ellipse18.png) left;
        width: 210px;
        height: 310px;
        position: absolute;
        right: 0;
        z-index: -5;
    }
}

.ball-3{
    width: 100%;
    .ball{
        width: 150px;
        height: 150px;
        position: absolute;
        left: 250px;
        z-index: -5;
    }
}

.ball-4{
    width: 100%;
    &::after{
        content: "";
        background: url(../img/Ellipse3.svg) right;
        width: 94px;
        height: 360px;
        position: absolute;
        bottom: 10px;
        left: 0px;
        z-index: -5;
    }
}

.top-ball{
    .top{
        position: fixed;
        right: 100px;
        z-index: 100;
        bottom: 100px;
    }
}

.vipbgimg{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -5;
}

.bg{
    width: 100%;
    height: 470px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F7F9FD;
    border-radius: 0 0 0 300px;
    z-index: -10;
}